.App {
  text-align: center;
  background-color: blueviolet;
  min-height: 500px;
}

.Congrats {
  margin: 100px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

